<link integrity="" rel="stylesheet" href="http://localhost:4200/assets/chat.css">


{{#if visible}} 
<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Please select a category</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <button type="submit" {{action 'visible'}} class="accent username-submit">Start Chatting</button>
            </div>
        </form>
    </div>
</div>
{{else}}
    <div id="chat-page">
        <div class="chat-container">
            <div class="chat-header">
                <h2>VIRTUAL DOCTOR</h2>
            </div>
            
            <ul id="messageArea">
                {{#each client.messages as |message|}}
                {{!-- <li class="event-message"><p>{{message.type}}</p></li> --}}
                <li class="chat-message"><i style="background-color: {{color}}">{{message.user}}</i><span>{{message.user}}</span><p>{{message.content}}</p></li>
                {{/each}}
            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        {{input type="text" value=message placeholder="Type a message..." autocomplete="off" class="form-control"}}
                        <button type="submit" {{action 'sendMessage' message}} class="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/if}}
{{!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">

            <div class="panel-body">
                {{#each client.messages as |message|}}
                <div class="col-xs-3 chat-user">{{message.user}}</div>
                <div class="col-xs-9">{{message.content}}</div>
                {{/each}}
            </div>
            <div class="panel-footer">
                <form class="form-inline">
                    <div class="form-group">
                        {{input placeholder=(if client.connected "Say something" "Please connect!") class="form-control" value=message disabled=(if
                        client.connected null true)}}
                    </div>
                    <button class="btn btn-default" {{action 'sendMessage' message}} disabled={{if client.connected null true}}> Send </button>
                </form>
            </div>
        </div>
    </div>
</div> --}}